.YearGraph {
    display: flex;
}

* {
    margin: 0;
    padding: 0;
}

.end_year,
.start_year {
    width: 50%;
}

.Container {
    margin: 20px;
}

.tabelhead {

    background-color: orange !important;

}

.textcenter {
    text-align: center;
}

.tableContainer {
    margin-top: 50px;
}

.loading {
    margin: auto;
    text-align: center;
    margin-top: 10%;

}

.errordiv {
    font-size: 1.1em;
    padding: 10px;
    background: #ff0000ba;
    overflow-wrap: anywhere;
    color: #0b00ff;
    text-align: center;
    margin-bottom: 18px;
    padding-right: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.removeErrorbox {
    right: 13px;
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
}

@media screen and (min-width:0px) and (max-width:1000px) {
    .body {
        background-color: red;
    }

    .YearGraph {
        flex-direction: column;
    }


    .end_year,
    .start_year {
        width: 100%;
    }
}